fieldset{
  border:0;
}
label{
  display:block;
  margin:0 0 5px;
}
label > span{
  display:block;
  margin:0 0 5px;
}
input[type="checkbox"]{
  display:none;
}
.csscheckbox{
  width:80px;
  height:36px;
  background:#73a427;
  color:#fff;
  line-height:36px;
  position:relative;
}
.csscheckbox span{
  float:left;
  width:40px;
  text-align:center;
}
.csscheckbox div{
  background:#111;
  width:40px;
  height:36px;
  position:absolute;
  top:0;
  left:40px;
  -moz-transition:left 200ms ease-in;
  -webkit-transition:left 200ms ease-in;
  -o-transition:left 200ms ease-in;
  transition:left 200ms ease-in;
}
input[type="checkbox"]:checked + label .csscheckbox div {
  left:0;
}